*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar{
    display: flex;
    padding: 2rem;
}

button{
    margin-left: auto;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    color: black;
    background-color: white;
    border: 2px solid white;
}

.logo img{
    width: 150px;
}

.main-content{
    display: flex;
    flex-direction: column;

}
@media only screen and (min-width:991.99px){
    .main-content {
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .content-section1,
    .content-section2 {
        width: 50%;
    }
    .content-section1{
        max-width: 500px;
    }
}  

.content-section1, .content-section2{
    width: 100%;
}

.bg-img{
    background-image: url("./images/bg-hero-mobile.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Build {
    font-size: 2.2rem;  
    line-height: 45px;
    display: flex;
    flex-direction: column;
}

.content{
    margin: 20px auto;
}


.img-mockups img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img-mockups{
    padding: 3rem;
}

.start-button{
    background-color: #ff1493;
    margin: 0 auto;
}

.img-grow img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
 }

 .img-grow{
    padding: 1rem;
 }
 
 .grow-content{
    text-align: center;
    padding: 5px 5px;
 }

 .section-1{
    text-align: center;
 }

  .card-grow{
    width: 350px;
    padding: 10px 10px 50px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 10px #aaaaaa;
    border-radius: 20px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
  }
@media only screen and (min-width:991.99px){
    .card-grow{
        width: 80%;
        flex-direction: row;
        border: none;
        background-color: white;
        box-shadow: 1px 1px 10px 1px #aaaaaa;
        border-radius: 10px;
        margin: 100px auto;
    }
    .container1 {
        width: 50%;
        order: 2;
    }
    
    .section1-content{
        width: 50%;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .main-content1{
        line-height: 30px;
    }
    .main-footer{
        display:flex;
    }
}


.section1-content, .container1{
    width: 100%;

}
  
  .box{
    max-width: 300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 5px 5px 5px #aaaaaa;
    margin: 0px auto;
    border-radius: 20px;
    text-align: center;
    transform: translateY(-50%);
  }

  .section2{
    padding: 3rem 0;
    padding-top: 5px;
  }

  .get-button{
    color: white;
    background-color: #ff1493;
    border-radius: 50px;
    padding: 10px 10px;
    margin: 10px 5px;
  }

.ready-content{
    color: black;
}

.footer{
    background: hsl(192, 100%, 9%);
    color: white;
}

.footer-content{
    list-style: none;
    padding: 5px;
    margin: 5px 10px;
}

.main-content1 {
padding: 30px 5px 5px 5px;
}

a{
 padding: 30px 5px 5px 5px;
}
